<footer class="justify-end  bg-sky-700 w-full">
    <div class="max-w-screen-2xl md:flex md:items-center md:justify-between  md:px-7 lg:px-4 py-4 md:py-5 mx-auto">
      <p class="text-sm text-center text-white mb-4 md:mb-0">
        © Copyright 2024 DesignShore Technologies All Right Reserved
      </p>
      <ul class="flex flex-wrap items-center justify-center">
        <li><a href="#" class="mr-4 text-sm font-normal text-white hover:underline md:mr-6 dark:text-gray-400">Terms &
            Conditions</a></li>
        <li><a href="#" class="text-sm font-normal text-white hover:underline dark:text-gray-400">Cookie
            Policy</a></li>
      </ul>
    </div>
  </footer>