{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TXP - CRM</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
  <style media="only screen">
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;
    }

    html {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      overflow: auto;
    }
  </style>
</head>

<body class="h-svh">
  <div class="flex flex-col h-full">
    {% include 'header.html' %}
    <div
      class="dark:bg-slate-800 grow relative mx-auto w-full lg:max-w-[93rem] flex flex-col lg:flex-row flex-grow-1 gap-0 lg:gap-4 py-0 lg:py-4 p-4">
      <!-- ========== MAIN CONTENT ========== -->

      {% load static  %}
      <!-- Sidebar Toggle -->
      {% include 'workflowSidebar.html' %}
      <!-- End Sidebar -->

      <!-- Table Section -->
      {% include 'table.html' with crm="Tasks" %}
      <!-- End Table Section -->

    </div>
    {% include 'footer.html' %}
  </div>
  <script src="{% static 'js/preline.js' %}"></script>
</body>
<script>
  // Grid Options: Contains all of the grid configurations
  const gridOptions = {
    rowSelection: "multiple",
    // Row Data: The data to be displayed.
    rowData: [
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00845","Summary / Notes":"Task from Arnaud","P":"0" ,"To / From":"wstorms Arnaud","Type / Due":"Customer Service 20/10/23   140","Client / Work Centre":"orris White Pty Ltd 00009  Wes Storms Case 5878"},
      {ID: "002285","Summary / Notes":"Maecenas vitae","P":"1" ,"To / From":"WStorms Renae","Type / Due":"Banking   06/01/23   427","Client / Work Centre":" The Laughlen Centre 00025  HOBS - HCWA"},
      {ID: "00182","Summary / Notes":"Nullam gravida","P":"2" ,"To / From":"wstorms LS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00033  TXP Programming"},
      {ID: "00208","Summary / Notes":"Nam elementum nulla","P":"3" ,"To / From":"wstorms MDS","Type / Due":"06/01/23 427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      {ID: "00344","Summary / Notes":"Integer eget leo quis","P":"4" ,"To / From":"WStorms Renae","Type / Due":"Programming 06/01/23   427","Client / Work Centre":"Daystar 00034  Marketing 2"},
      
    
     
    ],
    // Column Definitions: Defines the columns to be displayed.
    columnDefs: [
      {
        field: "ID", filter: "true",
        minWidth:120,
      headerCheckboxSelection: true,
      headerCheckboxSelectionFilteredOnly: true,
      checkboxSelection: true,
      },
      { field: "Image",minWidth:80},
      { field: "Summary / Notes",minWidth:130},
      { field: "P",minWidth:40 },
      { field: "To / From",minWidth:130 },
      { field: "Type / Due",minWidth:230 },
      { field: "Client / Work Centre",minWidth:330 },
      
    ],
    defaultColDef: {
      flex: 1,
    },
    suppressRowClickSelection: true,
    rowSelection: 'multiple',
    pagination: true,
    autoHeight: true, // Enable auto height for rows
    wrapText: true,
  };

//   function onQuickFilterChanged() {
//   gridApi.setGridOption(
//     'quickFilterText',
//     document.getElementById('quickFilter').value
//   );
// }

  // Your Javascript code to create the grid
  const myGridElement = document.querySelector('#myGrid');
  agGrid.createGrid(myGridElement, gridOptions);
  gridOptions.pagination = false;
  var api = agGrid.GridApi.getGridApi(myGridElement);
  api.refreshCells({ force: true });
</script>
<script type="module" src="./main.js"></script>

</html>