@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover #showMenu{
    display: block;
 }
 
 .open.hs-overlay-open\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 }
 
 .hs-dropdown.open > .hs-dropdown-open\:opacity-100 {
    opacity: 1;
  }

  /* .custom-scroll{
    @apply{
        max-h-60 lg:max-h-96 overflow-x-scroll [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full[webkit-scrollbar-track]:bg-allports-400 [&::-webkit-scrollbar-thumb]:rounded-full
                  [&::-webkit-scrollbar-thumb]:bg-gray-300 pe-1
    }
  } */

  /* custom.css */
    .custom-x-scroll {
      @apply overflow-x-auto
      [&::-webkit-scrollbar]:h-2
      [&::-webkit-scrollbar-track]:rounded-full
      [&::-webkit-scrollbar-track]:bg-gray-200
      [&::-webkit-scrollbar-thumb]:rounded-full
      [&::-webkit-scrollbar-thumb]:bg-gray-100
      dark:[&::-webkit-scrollbar-track]:bg-slate-700
      dark:[&::-webkit-scrollbar-thumb]:bg-slate-500;
    }
    .custom-y-scroll {
      @apply overflow-y-auto
      [&::-webkit-scrollbar]:w-2
      [&::-webkit-scrollbar-track]:rounded-full
      [&::-webkit-scrollbar-track]:bg-gray-200
      [&::-webkit-scrollbar-thumb]:rounded-full
      [&::-webkit-scrollbar-thumb]:bg-gray-100
      dark:[&::-webkit-scrollbar-track]:bg-slate-700
      dark:[&::-webkit-scrollbar-thumb]:bg-slate-500;
    }
    @layer components {
    .menu-item{
      @apply flex items-center w-full font-medium px-6 lg:px-0 py-1 dark:text-gray-400 dark:hover:text-gray-500 text-gray-500 hover:text-gray-600;
    }
    .menu-item.active{
      @apply text-blue-600 
    }
    .drop-down-item-a{
      @apply flex items-center gap-x-3.5 py-2 px-3 text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
    }
  }

  @media (min-width:1px) and (max-width:767px){
    .ag-paging-panel.ag-unselectable{
      flex-wrap: wrap;
      height: fit-content;
      align-items: center;
      justify-content: center;
      padding-top: 1%;
    }
   
  
    .ag-paging-page-summary-panel{
      margin: 3% 0% !important;
    }
  }